{% extends 'base.html.twig' %}

{% block title %}Contact Us - Mentis{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto text-center" data-aos="fade-up">
            <h1 class="display-4 fw-bold mb-4" style="color: #2E7D32;">Contact Us</h1>
            <p class="lead">Our team is here to help you</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 text-center" data-aos="fade-right">
            <i class="fas fa-map-marker-alt fa-3x mb-3" style="color: #4CAF50;"></i>
            <h4 style="color: #2E7D32;">Address</h4>
            <p>123 Wellness Street<br>Tunis, Tunisia</p>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-up">
            <i class="fas fa-phone fa-3x mb-3" style="color: #4CAF50;"></i>
            <h4 style="color: #2E7D32;">Phone</h4>
            <p>+216 12 345 678</p>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-left">
            <i class="fas fa-envelope fa-3x mb-3" style="color: #4CAF50;"></i>
            <h4 style="color: #2E7D32;">Email</h4>
            <p>contact@mentis.com</p>
        </div>
    </div>
</div>
{% endblock %}